---
import ClientApp from "@/components/client-app";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.svg" />
    <title>Core GitHub API - Health</title>
  </head>
  <body>
    <ClientApp client:only="react" />
  </body>
</html>
